@model IEnumerable<Epione.Models.ParcoursModel>

@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Affichage Mes Rendez-vous</title>

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/Content/css/animate.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Liste de mes rendez-vous </h5>

            </div>
            <div class="ibox-content">
                <div class="table-responsive">

                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.NomMedecin)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Specialite)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Maladie)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Etat)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Justification)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Adresse)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Etatrdv)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NomMedecin)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Specialite)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Maladie)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Etat)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Justification)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Adresse)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Etatrdv)
                                </td>

                            </tr>
                        }

                    </table>
                </div>

            </div>
        </div>
    </div>

    </div>

</body>
</html>
